.material-design-icon {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-block;
  
  .material-design-icon__svg {
  }
}

div,
p {
  font-family: noto-sans, Arial, sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a,
div,
input {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: unset;
}
