node_modules
.nuxt
.github
.git
data
dist
out
channels
scripts
client/node_modules
client/.output
client/.nuxt
server/node_modules
server/dist

Dockerfile
# Files
npm-debug.log
.all-contributorsrc
.editorconfig
renovate.json
CHANGELOG.md
LICENSE
no-master.sh
README.md
webpack.config.js
.gitignore
docker-compose.dev.yml
docker-compose.yml

# Folders
.github
.vscode
ddata
data
node_modules
