node_modules
.nuxt
.github
.git
data
dist
out
channels
scripts

Dockerfile
npm-debug.log
.all-contributorsrc
.drone.yml
.editorconfig
renovate.json
CHANGELOG.md
LICENSE
no-master.sh
README.md
webpack.config.js

.yarn/unplugged
.yarn/install-state.gz