.DS_Store
node_modules
/dist
logs
*.log

# nuxt.js build output
.nuxt
.output

# Nuxt generate
dist
profiles

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
server/logs

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
sw.*

# LineCount files
out/
out/*

data
!/server/data
output/*
.vs/*

dump.rdb

# Test files
tests/cypress/screenshots
tests/cypress/videos
tests/cypress/downloads
tests/cypress/environment/data

Dockerfile.nodejs-mongodb
.vscode/.ropeproject/
server/config.json
server/data
**/predist
client/buildMetadata.json
~
**/cache
generated.txt
original.txt
screenshots
